nav {
  position: fixed right;
}

h1 {
  text-align: center;
}

body {
  background-color: #5795e6;
  color: white;
  max-width: 500px;
  margin: auto;
}

#header-img {
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 10px 20px;
}

.flex-container {
  display: flex;
  padding: 20px 40px;
}

button {
  background-color: rgb(209, 76, 14);
  color: white;
}
